body{
    text-align: center;
    background-image: url('/img/background.jpg');
}
.but{
    padding: 10px;
    background-color: rgba(165, 71, 154, 0.896);
}
.but:hover{
    background-color: blanchedalmond;
    color:black;
    transition: 300ms all ease-out;
    cursor: progress;
}
.forms{
 color: rgb(207, 209, 181);

}
.links{
    color: white;
    font-weight: bold;
    font-family:monospace;
}
.contact,h3{
    font-family: monospace;
}
.box{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
footer .social-links p {
    display: inline-block;
    margin-right: 10px;
  }
footer .social-links a{
    margin: 0 30px;
    color: rgb(116, 248, 246);
    padding: 30 45px;
    font-size: 30px;
  }
  footer .social-links a:hover{
    color: blanchedalmond;
    cursor:pointer;
  }