body{
  max-width: 1800px;
    background-image: url('/img/background.jpg');
}
.custom-img {
    border-radius:50%;
    height: 25%;
    width: 30%;
  }
  h2{
    margin-top: 80px;
    margin-left: 10px;
    color: rgb(67, 0, 131);
    font-family: "Playfair Display", serif;
    font-weight: bold;
  }
  nav.negin{
    background-color:rgb(227, 162, 218,10%);
    border-radius: 20px;
    margin-left: 10px;
    font-family: "Playfair Display", serif;
    margin-top: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }
  .card{
    background-color:rgb(227, 162, 218,20%);
    color:rgb(82, 72, 83);
    border-radius: 10px;
    padding: 10px ;
    margin: 100px 10px ;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  .negar{
    color:rgb(255, 0, 234);
    text-decoration: none;
    padding-top: 20px;
    
  }
  .negar:hover{
    color: rgb(202, 156, 245);
    transition: 200ms;
  }
.she{
  text-decoration: none;
  color:rgb(21, 2, 22);
}
.she:hover{
  color: rgb(44, 234, 221);
  transition: 200ms all ease-in-out;
}
.shephoto{
  height: 80px;
}
