.shephoto{
    height: 120px;
}
body{
    text-align: center;
    background-image: url('/img/background.jpg');
    font-weight: bold;
}
.work-section{
    padding: 160px 20px;
}
.book{
    height: 200px;
}
.notro{
    height: 220px;
}
h1,h2{
    font-family: "Poppins", sans-serif;
    padding-top: 5px;
}
.textt{
    font-family: "Roboto Mono", monospace;
    padding: 8px;
    margin: 5px;
   background-color:rgba(245, 209, 245, 10%);
   border-radius: 4px;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.home{
    color: black;
    font-family:"Poppins", sans-serif;
    text-decoration: none;
    padding: 8px;
}
.home:hover{
    color:rgb(175, 3, 3) ;
    transition: 300ms all ease-in-out;
}
.link{
    color:rgb(175, 3, 3) ;
}