.shephoto{
    height: 120px;
}
body{
    text-align: center;
    background-image: url('/img/background.jpg');
    font-weight: bold;
}
.work-section{
    padding: 160px 20px;
}
.book{
    height: 200px;
}
.notro{
    height: 220px;
}